/EstadisticaDatos/target/
/estadisticadatos/target/
/EstadisticaDatosProject/nbproject/private/
/EstadisticaDatosProject/build/
/7-EstadisticaDatos.jpg
/7-EstadisticaDatos2.jpg
/ValoresConsecutivos/nbproject/private/
/ValoresConsecutivos/build/
/7-EstadisticaDatos.txt
